<div class="text-center">
  <form class="form-signin">
    <img
      class="mb-4"
      src="../../../assets/images/logoPort.png"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal" *ngIf="!showVersion">
      MultiApps
    </h1>
    <h1 class="h3 mb-3 font-weight-normal" *ngIf="showVersion">
      version 1.0
    </h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      #username
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      #password
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      (keyup.enter)="onkeyUp($event, username.value, password.value)"
      required
    />
    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="onButtonClick($event, username.value, password.value)"
    >
      Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  </form>
</div>
