// Cyborg 4.3.1
// Bootswatch
/* using Sass */

//@import 'scss/variables';
@import 'scss/variablesMinty';
//@import 'scss/variablesSpaceLab';
@import '~bootstrap/scss/bootstrap';
@import 'scss/myTheme';

html,
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  //font-family: 'Indie Flower', cursive;
  font-family: $font-family-sans-serif;
}

// Navbar ======================================================================

.navbar {
  &.bg-primary {
    border: 1px solid $gray-700;
  }

  &.bg-dark {
    background-color: $body-bg !important;
    border: 1px solid $gray-700;
  }

  &.bg-light {
    background-color: $gray-500 !important;
  }

  &.fixed-top {
    border-width: 0 0 1px 0;
  }

  &.fixed-bottom {
    border-width: 1px 0 0 0;
  }
}

// Buttons =====================================================================

.btn {
  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value
          linear-gradient(180deg, mix($white, $value, 15%), $value)
          repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

// Tables ======================================================================

table {
  color: #fff;
}

.table {
  &-primary {
    &,
    > th,
    > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &,
    > th,
    > td {
      background-color: $secondary;
    }
  }

  &-light {
    &,
    > th,
    > td {
      background-color: $light;
    }
  }

  &-dark {
    &,
    > th,
    > td {
      background-color: $dark;
    }
  }

  &-success {
    &,
    > th,
    > td {
      background-color: $success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: $info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: $danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: $warning;
    }
  }

  &-active {
    &,
    > th,
    > td {
      background-color: $table-active-bg;
    }
  }

  &-hover {
    .table-primary:hover {
      &,
      > th,
      > td {
        background-color: darken($primary, 5%);
      }
    }

    .table-secondary:hover {
      &,
      > th,
      > td {
        background-color: darken($secondary, 5%);
      }
    }

    .table-light:hover {
      &,
      > th,
      > td {
        background-color: darken($light, 5%);
      }
    }

    .table-dark:hover {
      &,
      > th,
      > td {
        background-color: darken($dark, 5%);
      }
    }

    .table-success:hover {
      &,
      > th,
      > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &,
      > th,
      > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &,
      > th,
      > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &,
      > th,
      > td {
        background-color: darken($warning, 5%);
      }
    }

    .table-active:hover {
      &,
      > th,
      > td {
        background-color: $table-active-bg;
      }
    }
  }
}

// Forms =======================================================================

legend {
  color: #fff;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {
  .nav-link {
    color: #fff;

    &:hover {
      background-color: $gray-700;
    }

    &.disabled,
    &.disabled:hover {
      background-color: transparent;
      color: $nav-link-disabled-color;
    }

    &.active {
      background-color: $primary;
    }
  }
}

.breadcrumb {
  a {
    color: #fff;
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators ==================================================================

.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value
          linear-gradient(180deg, mix($white, $value, 15%), $value)
          repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    & a,
    & .alert-link {
      color: $body-bg;
    }
  }
}

.badge {
  &-warning {
    color: $white;
  }
}

.close {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item {
  &:hover {
    background-color: $gray-700;
    color: #fff;
  }

  &-action {
    color: $gray-500;

    .list-group-item-heading {
      color: $gray-500;
    }
  }

  &:hover .list-group-item-heading {
    color: #fff;
  }
}

.card,
.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.popover {
  &-title {
    border-bottom: none;
  }
}

/* SPACE LAB*/

// @mixin btn-shadow($color) {
//   @include gradient-y-three-colors(
//     lighten($color, 15%),
//     $color,
//     50%,
//     darken($color, 4%)
//   );
//   filter: none;
//   border: 1px solid darken($color, 10%);
// }
// // Navbar ======================================================================

// .navbar {
//   .nav-link,
//   .navbar-brand {
//     text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
//     transition: color ease-in-out 0.2s;
//   }

//   &.bg-primary {
//     @include btn-shadow(map-get($theme-colors, 'primary'));
//   }

//   &.bg-dark {
//     @include btn-shadow(map-get($theme-colors, 'secondary'));
//   }

//   &.bg-light {
//     @include btn-shadow(map-get($theme-colors, 'light'));

//     .nav-link,
//     .navbar-brand {
//       text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
//     }

//     .navbar-brand {
//       color: $navbar-light-color;

//       &:hover {
//         color: $info;
//       }
//     }
//   }
// }

// // Buttons =====================================================================

// .btn {
//   text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);

//   &-link {
//     text-shadow: none;
//   }
// }

// @each $color, $value in $theme-colors {
//   .btn-#{$color} {
//     @include btn-shadow($value);
//   }

//   .btn-#{$color}:not(.disabled):hover {
//     @include btn-shadow(darken($value, 4%));
//   }
// }

// [class*='btn-outline-'] {
//   text-shadow: none;
// }

// // Typography ==================================================================

// // Tables ======================================================================

// // Forms =======================================================================

// // Navs ========================================================================

// // Indicators ==================================================================

// .badge {
//   &-secondary {
//     color: $white;
//   }
// }

// // Progress bars ===============================================================

// // Containers ==================================================================

// .card,
// .list-group-item {
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     color: inherit;
//   }
// }
